* {
    box-sizing: border-box;
}
:root {
    --primary-color: #1ebfc1;
}
html,
body {
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

a {
    text-decoration: none;
}
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.break-all {
    word-break: break-all;
}
.btn {
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    width: 186px;
    line-height: 68px;
    border-radius: 14px;
    font-weight: 600;
    background: var(--primary-color);
}
.btn:hover {
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}
.heading {
    color: #0d1111;
    font-style: normal;
    font-weight: 700;
}
.heading.lv1 {
    font-size: 6.2rem;
    line-height: 1.16;
}
.heading.lv2 {
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33; /* 133.333% */
}
/* ========== Header ========== */
.header {
    background: #fff;
    padding: 52px 0 28px 0;
}
.fixed {
    position: sticky;
    top: -28px;
    z-index: 999;
}
.header .content-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .nav {
    display: flex;
    align-items: center;
}
.header .nav a {
    padding: 8px 20px;
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
}
.header .actions {
    color: #494949;
    font-size: 1.6rem;
}
.header .nav li:hover a,
.header .header-signin:hover {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}
.header .header-signin {
    margin-right: 24px;
    color: #494949;
    font-size: 1.6rem;
}
.header .header-signup {
    padding: 12px 24px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 6px;
}
.header .header-signup:hover {
    color: var(--primary-color);
    background: #fff;
}
/* ========== Hero ========== */
.hero {
    padding: 22px 0 79px 0;
}
.hero .content-body {
    display: flex;
    justify-content: space-between;
}
.hero .hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.hero .desc {
    margin-top: 46px;
    width: 65%;
    color: #9da6a5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
}
.hero .desc-top {
    margin-bottom: 18px;
    font-size: 1.4rem;
}
.hero .hero-right {
    position: relative;
    width: 49.2%;
}
.hero .cta-group {
    display: flex;
    gap: 50px;
    margin-top: 52px;
}
.hero .cta-group .watch-video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-radius: 62px;
    background: #fff;
    box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
    border: none;
    cursor: pointer;
}
.hero-right .title {
    margin-bottom: 16px;
    text-align: center;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 600;
}
.hero-right .course {
    position: absolute;
    top: 150px;
    left: -40px;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero-right .course .body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 18px 25px;
}
.hero-right .course .icon {
    position: relative;
}
.hero-right .course .sticky {
    position: absolute;
    left: 4px;
    bottom: 8px;
    width: 28px;
    height: 4px;
}
.hero-right .course .title {
    margin-bottom: 0;
    text-align: left;
    line-height: normal;
}
.hero-right .schedule {
    position: absolute;
    bottom: 46px;
    left: -65px;
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero-right .schedule .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 25px;
}
.hero-right .schedule .title {
    margin-bottom: 16px;
    text-align: center;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 600;
}
.hero-right .schedule .sticky {
    margin-bottom: 12px;
    height: 6px;
}
.hero-right .schedule span {
    width: 26px;
    height: 6px;
    border-radius: 3px;
    background: #edf1f5;
}
.hero-right .member {
    position: absolute;
    bottom: 40px;
    right: 45px;
}
.hero-right .member .body {
    padding: 17px 35px;
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero-right .member .title {
    text-align: left;
    margin-bottom: 8px;
}
.hero-right .member .avatar-group {
    display: flex;
}
.hero-right .member .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -10px;
}
.hero-right .member .avatar:first-child {
    margin-left: 0;
}
.hero-right .member .avatar:last-child {
    background: var(--primary-color);
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}
/* ========== Features ========== */
.features {
    padding: 130px 0;
}
/* .features .body {
    padding-top: 130px;
} */

.features .body .desc-top {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
}
.features .body .heading {
    margin: 18px 0;
    width: 577px;
}
.features .body .desc {
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    width: 590px;
}
.features .body .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.features .body .row a {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
}
.features .list {
    display: flex;
    margin-top: 80px;
    gap: 209px;
}
.features .list .icon {
    width: 102px;
    height: 106px;
}
.features .list .title {
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
    margin: 26px 0 16px 0;
}
.features .list .desc {
    --line-clamp: 3;
    max-width: 224px;
    color: #9da6a5;
    font-size: 1.6rem;
    line-height: 1.69; /* 168.75% */
}
.features .list .thumb {
    width: 359px;
    height: 393px;
    border-radius: 8px;
    /* opacity: 0.3499999940395355; */
    background: #d0efed;
    object-fit: cover;
}
.features .body-2 {
    padding-top: 130px;
}
.features .list-2 {
    gap: 47px;
}
.features .item-2 {
    position: relative;
}
.features .list-2 .title {
    margin: 0;
}
.features .item-2 .info {
    position: absolute;
    left: 14px;
    right: 14px;
    bottom: -124px;
    padding: 18px 25px;
    width: 325px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}
.features .item-2 .title {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.features .item-2 .price {
    color: #767e7e;
    font-size: 1.6rem;
}
.features .item-2 .desc {
    --line-clamp: 2;
    margin-top: 6px;
    color: #9da6a5;
    font-size: 1.4rem;
    max-width: 100%;
}
.features .item-2 strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}
.features .course-info {
    display: flex;
    gap: 10px;
    margin-top: 18px;
    width: 200px;
}
.features .course-info .desc {
    display: flex;
    align-items: center;
    margin-top: 0;
    width: auto;
}
.features .course-info .desc::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 10px;
    background: #1ebfc1;
    border-radius: 50%;
}
/* ========== Stats ========== */
.stats {
    margin-top: 260px;
}
.stats .body {
    display: flex;
    justify-content: space-evenly;
}
.stats .info strong {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.5;
}
.stats .info span {
    display: block;
    text-align: center;
    margin-top: 11px;
    color: #767e7e;
    font-size: 1.8rem;
}
/* ========== Stats ========== */
.feedback {
    margin-top: 265px;
}
.feedback .body {
    display: flex;
}
.feedback .body-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 72px;
    width: 36%;
}
.feedback .body-left .icon {
    width: 36px;
    height: 29px;
}
.feedback .body-left blockquote {
    margin-top: 27px;
    color: #5d6564;
    font-size: 3.2rem;
    line-height: 1.5; /* 150% */
}
.feedback .body-left .auth {
    display: flex;
    margin-top: 33px;
    align-items: center;
    /* justify-content: center; */
    color: #767e7e;
    font-size: 1.6rem;
}
.feedback .body-left .auth strong {
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
}
.feedback .body-left .auth::before {
    content: "";
    display: inline-block;
    margin-right: 5px;
    width: 8px;
    height: 2px;
    background: #070707;
}
.feedback .body-left .cta-group {
    display: flex;
    justify-content: space-between;
    width: 130px;
    margin-top: 52px;
}
.feedback .body-left button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
/* ========== Subscribe ========== */
.subscribe {
    margin-top: 130px;
    background: #def6f5;
}
.subscribe .body {
    padding: 76px 0 88px 0;
    display: flex;
    align-items: center;
}
.subscribe .body-left .title {
    color: #070707;
    font-size: 4.2rem;
    font-weight: 700;
}
.subscribe .body-left .desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
}
.subscribe .body-right .btn {
    margin-left: 410px;
    width: 186px;
    height: 68px;
    border-radius: 14px;
    cursor: pointer;
}
/* ========== Footer ========== */
.footer {
    margin-top: 130px;
}
.footer .row {
    display: flex;
}
.footer .column {
    margin-right: 144px;
}
.footer .column:nth-child(3) {
    margin-right: 137px;
}
.footer .column:last-child {
    margin-right: 0;
}
.footer .column .title {
    margin-top: 12px;
    color: #2e2e2e;
    font-size: 1.8rem;
    font-weight: 500;
}
.footer .column .list {
    margin-top: 26px;
}
.footer .column .list li {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    word-break: unset;
}
.footer .column .list li img {
    margin-right: 9px;
}
.footer .column .list a {
    color: #535353;
    font-size: 1.6rem;
}
.footer .column .list li:hover a {
    opacity: 0.8;
}
.footer .copy-right {
    margin: 80px 0 50px 0;
    text-align: center;
}
.footer .copy-right p {
    color: #b0b5b4;
    font-size: 1.8rem;
}
